In [1]:
print("HOPE AI", "\n")

HOPE AI

In [3]:
institute_name = input("Enter your institute name:")
print("institute_name:",institute_name)

Enter your institute name: Hope AI

institute_name: Hope AI

In [4]:
name = input("Enter your name:")
age = input("Enter your age:")
school_name = input("Enter your school name:")
degree = input("Enter your degree:")
print(f"Name:{name}, Age:{age}, School Name:{school_name}, Degree:{degree}")

Enter your name: John
Enter your age: 25
Enter your school name: University of California
Enter your degree: Computer Science

Name:John, Age:25, School Name:University of California , Degree:Computer Science

In [5]:
a=43
print("a=", a)
b=34
print("b=", b)
print("Add=", a + b)

a= 43
b= 34
Add= 77

In [6]:

a=43
print("a=", a)
b=34
print("b=", b)
print("Sub=", a - b)

a= 43
b= 34
Sub= 9

In [7]:
a=63
print("a=", a)
b=97
print("b=", b)
print("Mul=", a * b)

a= 63
b= 97
Mul= 6111

In [9]:
a=76
print("a=", a)
b=31
print("b=", b)
print("Div=", a / b)

a= 76
b= 31
Div= 2.4516129032258065

In [10]:
a=76
print("a=", a)
b=31
print("b=", b)
print("Floor Div=", a // b)

a= 76
b= 31
Floor Div= 2

In [11]:
a=76
print("a=", a)
b=31
print("b=", b)
print("Modulo=", a % b)

a= 76
b= 31
Modulo= 14

In [12]:
a=4
print("a=", a)
b=4
print("b=", b)
print("Power=", a ** b)

a= 4
b= 4
Power= 256